.home {
  width: 100%;
  margin-bottom: -25px;
  min-height: 100vh; /* минимум высота экрана */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url("../../assets/hero-banner.jpg"),
    url("../../assets/Assets-home-1.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size:
    100% 100vh,
    100% 100vh,
    100% 100vh;
  background-position:
    top left,
    top left,
    bottom left;

  background-attachment: fixed, fixed, fixed; /* фиксируем фон */
}
