.home {
  width: 100%;
  margin-bottom: -25px;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)),
    url("../../assets/Библиотека.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100vh, 100% 100vh;
  background-position: top left, top left;
  background-attachment: fixed, fixed;
}
